﻿
body {
}

.list-combo {
    overflow: visible;
}

.mdl-textfield {
    width: 400px;
}

#video {
    width: 400px;
    height: 320px;
    background-color: black;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}
