
#invite-url {
    width: 100%;
}

#qrbase {
    display: flex;
    padding: 12px;
}

h6 {
    color: darkgray;
    width: 100%;
    text-align: center;
    padding: 0px;
    border: 0px;
    margin: 12px 0px;
}

#qrcode {
    background: white;
    border: 20px solid white;
    margin: 0px auto;
}
