
#invite-url {
    width: 100%;
}

#qrbase {
    display: flex;
    padding: 12px;
}

#qrcode {
    background: white;
    border: 20px solid white;
    margin: 0px auto;
}

#qrcodesub {
    background: white;
    border: 20px solid white;
    margin: 0px auto;
}
