
/*-------------------------------------------
 *  main-contents
 *-----------------------------------------*/

.client-main {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}

/*-------------------------------------------
 *  login / logout
 *-----------------------------------------*/

.login-background, .logout-background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.login-main, .logout-main {
    margin: -100px 0 0 -300px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 200px;
    background-color: whitesmoke;
}

.list-combo {
    overflow: visible;
}

label#login-error {
    color: firebrick;
    margin: 10px;
}


/*-------------------------------------------
 *  input-box
 *-----------------------------------------*/

.inputbox {
    color: darkgray;
}

textarea.input-box-text {
    width: 100%;
    height: 128px;
    margin: 0px;
    border-radius: 10px;
    outline: none;
    padding: .5em 1em;
}

button.input-send {
    position: absolute;
    right: 0px;
}
