
.skybezie-title {
    margin: 20px;
}

.skybezie-body {
    width: 100%;
    height: 100%;
    background-color: darkgray;
}

.skybezie-main {
    max-width: 1080px;
    width: 100%;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    flex-shrink: 0;
}

.material-icons {
    line-height: 48px;
}

.bottom {
    line-height: 1;
}

#error-disp {
    display: none;
}

.error-url {
    width: 100%;
}
