﻿<dialog id='image-dialog'>
    <div id="image-dialog">
        <div id='image-selector'>
            <div id='image-selector-drop' effectAllowed='move'>画像を追加/変更します</div>
            <input type='file' id='image-selector-file' style="display:none" />
        </div>
        <div id='image-dialog-input-top'>
            <select id="image-dialog-size">
                <option>contain</option>
                <option>cover</option>
                <option>auto</option>
            </select>
            <select id="image-background-repeat">
                <option>no-repeat</option>
                <option>repeat</option>
                <option>round</option>
                <option>space</option>
            </select>
            <select id="image-background-position">
                <option>center</option>
                <option>top</option>
                <option>bottom</option>
                <option>left</option>
                <option>right</option>
            </select>
        </div>
        <div id='image-dialog-input-left'>
            <input type='button' id='image-dialog-clear' value='クリア'>
        </div>
        <div id='image-dialog-input-right'>
            <input type='button' id='image-dialog-delete' value='削除'>
            <input type='button' id='image-dialog-change' value='更新'>
            <input type='button' id='image-dialog-cancel' value='キャンセル'>
        </div>
    </div>
</dialog>
