﻿
dialog#image-dialog {
    width: 460px;
    height: 460px;
    background: #333;
    font-size: 18px;
    color: #CCC;
    border: 1px solid white;
}


div#image-dialog {
    width: 400px;
    height: 400px;
    padding: 30px;
}

div#image-selector {
    width: 100%;
    height: 100%;
}

div#image-selector-drop {
    height: 100%;
    width: 100%;
    background-color: #cfc;
    color: #9c9;
    text-shadow: 1px 1px 0 #fff;
}

    div#image-selector-drop.dropover {
        background-color: #cff;
        color: #9cc;
    }


#image-dialog-input-top {
    position: absolute;
    top: 10px;
    right: 10px;
}


#image-dialog-input-left {
    position: absolute;
    left: 10px;
    bottom: 10px;
}


#image-dialog-input-right {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
