﻿html, body {
    height: 100%;
}

body {
    margin: 0px;
    border: 0px;
    padding: 0;
    width: 100%;
    color: whitesmoke;
    font-family: "Roboto","Hiragino Kaku Gothic ProN","Meiryo", sans-serif;
}

iframe {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 0px;
}

h1, h2, h3, h4, h5, h6,
.mdl-button,
.mdl-textfield__input,
.mdl-list__item,
.mdl-tooltip {
    font-family: "Roboto","Hiragino Kaku Gothic ProN","Meiryo", sans-serif;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}
