
.skybezie-title {
    margin: 20px;
}

.skybezie-body {
    width: 100%;
    height: 100%;
    background-color: darkgray;
}

.skybezie-main {
    max-width: 1080px;
    width: 100%;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    flex-shrink: 0;
}

#invite-frame {
    width: 100%;
    height: 600px;
}

.switch-layout {
    margin: 0px;
    border: 10px;
    padding: 10px;
}

.material-icons {
    line-height: 48px;
}

.bottom {
    line-height: 1;
}

.console-log {
    color: black;
}

.console-time {
    color: darkgray;
}

.page-content {
    width: 100%;
}

.fixed-tab {
    height: calc(100% - 196px);
}

.guide-div-box {
    width: 100%;
}

.guide-textbox {
    width: 100%;
    padding: 6px;
}

.guide-left {
    float: left;
    width: 25%;
}

.guide-right {
    overflow-y: scroll;
    float: right;
    width: 75%;
    height: 100%;
}

.guide-keyword-font {
    font-weight: 600;
}

.guide-message {
    width: 100%;
    padding: 6px;
}

.guide-button {
    height: 48px;
}

.youtube-control {
    padding: 12px;
}
