
.image-background {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: rgba(0,0,0,.2);
}

.image-card.mdl-card {
    padding: 10px;
    width: 480px;
    height: 620px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -310px 0 0 -240px;
}


.image-card > .mdl-card__title {
    color: #808080;
    background: #46B6AC;
}

.image-edit-label {
    width: 400px;
}

.image-attach-action {
    margin: 0 auto;
}

.image-update-action {
    margin-left: auto;
}
