/*-------------------------------------------
 *  menu
 *-----------------------------------------*/

.cur_pointer {
    cursor: pointer;
}

/*-------------------------------------------
 *  main-contents
 *-----------------------------------------*/

.client-main {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}

.frame-6 {
    width: 100%;
    height: calc((100% - 112px) / 2);
}

.frame-12 {
    width: 100%;
    height: calc(100% - 102px);
}

.frame-6-nomenu {
    width: 100%;
    height: calc((100% - 48px) / 2);
}

.frame-12-nomenu {
    width: 100%;
    height: calc(100% - 38px);
}


.mdl-grid {
    padding: 0px;
}

.mdl-manu-conti .mdl-mini-footer {
    padding: 56px 0px;
    background-color: whitesmoke;
}


/*-------------------------------------------
 *  subpage-contents
 *-----------------------------------------*/

iframe#mobile_page {
    width: 380px;
    height: 380px;
}

iframe#stage_page {
    width: 445px;
    height: 580px;
}

/*-------------------------------------------
 *  login / logout
 *-----------------------------------------*/

.login-background, .logout-background {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    /*background-image: url(../Common/Img/WoodenFloor.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;*/
}

.login_frame {
    position: absolute;
    width: 100%;
    height: 100%;
}

.login-main, .logout-main {
    margin: -100px 0 0 -300px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 200px;
    background-color: whitesmoke;
}

.list-combo {
    overflow: visible;
}

label#login-error {
    color: firebrick;
    margin: 10px;
}

.logout-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

/*-------------------------------------------
 *  login-list
 *-----------------------------------------*/

div.loginlist-box {
    text-align: right;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

div.loginlist-user {
    width: 100%;
}

label.loginlist-user-status {
    color: whitesmoke;
    padding: 1px;
}


/*-------------------------------------------
 *  stage
 *-----------------------------------------*/

iframe#stage {
    position: absolute;
    top: 0;
    left: 0;
}

/*-------------------------------------------
 *  input-box
 *-----------------------------------------*/


div.inputbox {
    width: 100%;
    height: 100px;
}

div.input-box {
    position: absolute;
    padding: 0px;
    border: 0px;
    margin: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
}

button.input-send {
    position: absolute;
    bottom: 11px;
    right: 7px;
}


div#input-box-inputing {
    font-size: 12px;
    color: lightgray;
    width: 100%;
    text-align: center;
}

div.input-box-clear {
    clear: both;
}

div.input-box-msg {
    display: flex;
    height: 81px;
    padding: 2px;
}

textarea.input-box-text {
    width: 100%;
    height: 100%;
    margin: 0px;
    border-radius: 10px;
    outline: none;
    padding: .5em 1em;
    resize: none;
}

div.input-box-space {
    width: 100%;
    height: 5px;
}

div.input-box-select-img {
    width: 72px;
    height: 72px;
    min-width: 72px;
    border: 4px solid #fff;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    margin: 1px;
    float: left;
    background-size: cover;
}


/*-------------------------------------------
 *  timeline
 *-----------------------------------------*/

main#timeline_content {
    background-color: whitesmoke;
}

div.timeline {
    width: 100%;
    height: calc(100% - 184px);
    overflow-y: scroll;
}

div.timeline_nomenu {
    width: 100%;
    height: calc(100% - 120px);
    overflow-y: scroll;
}

div.timeline-flex {
    display: flex;
    border: 0px;
    margin: 0px;
}


div.timeline-img-box {
    width: 72px;
    height: 72px;
    min-width: 72px;
    background-color: darkgray;
    border: 4px solid #fff;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    margin: 1px;
    float: left;
    background-size: cover;
}


div.timeline-img-empty {
    width: 72px;
    height: 72px;
    min-width: 72px;
}


div.timeline-balloon {
    border-radius: 5px;
    margin: 1px;
    background-color: #191970;
}


label.timeline-name {
    font-size: 12px;
    color: #BBB;
    padding: 0px 4px;
    text-decoration: none;
    background-color: #333333;
    border-radius: 3px;
}


    label.timeline-name:hover {
        text-decoration: underline;
        cursor: pointer;
    }


p.timeline-message {
    font-size: 16px;
    color: #EEE;
    margin: 2px;
}


p.timeline-dice {
    font-weight: bold;
    font-size: 16px;
    color: aquamarine;
}
