
.SkyBezie-title {
    margin: 20px;
}

.SkyBezie-body {
    width: 100%;
    height: 100%;
    background-color: darkgray;
}

.SkyBezie-main {
    max-width: 1080px;
    width: 100%;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    flex-shrink: 0;
}

.material-icons {
    line-height: 48px;
}

.bottom {
    line-height: 1;
}