﻿
body {
    overflow-x: hidden;
    overflow-y: hidden;
}

#contents {
    width: 100%;
    height: 100%;
}

#contents_frame {
    width: 100%;
    height: 100%;
    background-color: white;
}

#contents_video {
    width: 100%;
    height: 100%;
}

#subtitles {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 96px;
    text-align: center;
}

.subtitles-text {
    margin: 8px;
    padding: 8px;
    border: 8px;
    color: whitesmoke;
    text-shadow: -1px -1px 0 #333;
    font-size: 32px;
    background-color: rgba(0,0,0,.3);
}

video {
    height: 100%;
    width: 100%;
}

#stage_set {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.stage_set_image {
    height: 100%;
    width: 100%;
    background-size: cover;
}

#item_port #cursor_port {
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.cursor {
    position: absolute;
    overflow: visible;
}

.cursor_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 0px;
    border-top: 10px solid #eee;
    border-left: 10px solid #eee;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
}


p.cursor_name {
    border: 0px;
    margin: 0px 0px 0px 0px;
    font-size: 9px;
    color: aqua;
    position: relative;
    text-align: center;
    top: 50%;
}

.submenu {
    position: absolute;
    bottom: 11px;
    right: 7px;
}
